{% extends "ProyectowebApp/base.html" %}

{% load static %}

{% block content %}
   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectowebApp/img/fondo1.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded bg-dark">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Seguridad y Confianza</span>
            <span class="section-heading-lower">Calidad en herramientas</span>
          </h2>
          <p class="mb-3">Con más de 70 años de experiencia en el negocio, Peluquería Nacional cuenta con instrumentos de trabajo 
            de excelente calidad, al igual que cada uno de sus funcionarios💈🔨⚙️🛠. Ahora realizando pedidos a domicilio, detalles en contacto/servicios.
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded bg-dark">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total Sanitario</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
              <p class="mb-0">Porque al igual que tú, estamos al tanto de la pandemia y sus peligros,
                 por lo cual acreditamos que nuestros servicios ofrecidos cumplen con las normas de sanidad para asegurar
                 tanto tu salud como la de nuestros funcionarios👍😊  .</p>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}

   